*{
    margin:0;
    padding:0;
}
.header{
    width: 100%;
    height: 15%;
    background: #ff2626;
    text-align: center;
    color:white;
    padding-top: 1%;
    padding-bottom: 2%;
}
#title{
    font-family: 'Alexandria', sans-serif;
}
#address{
    font-family: 'Alexandria', sans-serif;
}
.menu{
    margin-top: 3.5%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menutd{
    border-collapse: collapse;
    width: 85%;
    text-align: center;
    font-family: 'Alexandria', sans-serif;
    margin-top:0%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
tbody{
    display: block;
      height: 465px;
       overflow-y: scroll
}
tr,td{
    height: 50px;
    border: 1px solid black;
}
.bottom{
    width: 100%;
    height: 10%;
    background: #ff2626;
    display: flex;
    justify-content: center;
    position:fixed;
    bottom:0px;
    font-family: 'Alexandria', sans-serif;
}
.wrapper{
    display:flex;
    align-self: center;
    text-align: center;
}
a{
    text-decoration: none;
    color:black;

}
a:hover{
    color:#707070;
}
.searchbar{
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    height:20%;
    background:#eb0000;
    display:flex;
    justify-content: center;
    align-items: center;
}
#search{
    background-size:1%;
    background-position:10px;
    width: 50%;
    background-repeat: no-repeat;
    border: 3px solid #ddd; 
}
#searchFor{
    margin-top:1%;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}

.sort{
    display:flex;
    margin-top:2.5%;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    .header{
        padding-top: 1%;
        padding-bottom: 1%;
    }
    .menu{
        width: fit-content;
        padding-top: 1.4%;
        display: flex;
        margin: auto;
        justify-content: center;
    }
    table{
        display: flex;
        margin: auto;
        width: fit-content;
        justify-content: center;
        table-layout: fixed;
        width: 300px;
    }
    td{
        padding-top:4%;
        padding-bottom: 4%;
    }
    tr,td{
        width:fit-content;
    }
    tbody{
        width: fit-content;
        justify-content: center;
    }
    .sort{
        margin-top:0.5%;
    }
}